<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lyrics Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
      name="description"
      content="An open source project for generating lyrics dynamically."
    />
    <meta name="author" content="github.com/samocodes" />

    <script src="https://unpkg.com/lucide@latest"></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>

    <link href="./dist/main.css" rel="stylesheet" />
  </head>

  <body class="bg-white container text-primary">
    <header class="py-5">
      <h1 class="text-5xl font-bold text-center">Lyrics Generator</h1>
    </header>

    <main x-data="music" class="space-y-5">
      <div class="w-full flex flex-row items-center gap-3">
        <button
          class="border p-2 rounded-xl hover:bg-gray-200"
          @click="$refs['audio-input'].click()"
        >
          Insert Track
        </button>

        <input
          type="file"
          style="display: none"
          accept="audio/*, video/mp4"
          x-ref="audio-input"
          @change="update"
        />
        <audio
          controls
          x-ref="music-player"
          x-on:timeupdate="updateTime"
          class="w-full flex-1"
        ></audio>
      </div>

      <form
        class="bg-gray-100 flex flex-row p-5 rounded-full gap-3"
        @submit.prevent="addLyric"
      >
        <input
          x-ref="lyric-input"
          type="text"
          name="value"
          placeholder="Enter sentence"
          class="flex-1 px-2 rounded-lg outline-none focus-within:ring focus-within:ring-primary focus:ring-offset-1 border-2 border-primary"
        />

        <div class="space-x-1">
          <button
            name="_action"
            value="add"
            type="submit"
            class="bg-green-500 p-2 rounded-lg focus:ring focus:ring-offset-1 focus:ring-green-500 outline-none"
          >
            <i data-lucide="plus" class="stroke-gray-100 size-[20px]"></i>
          </button>
          <button
            type="button"
            @click="_export"
            class="bg-blue-500 p-2 rounded-lg focus:ring focus:ring-offset-1 focus:ring-blue-500 outline-none"
          >
            <i data-lucide="share" class="stroke-gray-100 size-[20px]"></i>
          </button>
        </div>
      </form>

      <ul class="overflow-y-auto max-h-[60vh] pb-10 space-y-2">
        <template x-for="(sentence, index) in lyrics" :key="index">
          <div class="p-3 bg-gray-50 rounded-md flex flex-row gap-3">
            <input
              class="font-bold px-2 rounded-lg"
              x-bind:value="sentence.time"
              @change="updateLyric(index, 'time')"
            />
            <input
              class="break-all flex-1 px-2 rounded-lg"
              x-bind:value="sentence.value"
              @change="updateLyric(index, 'value')"
            />

            <button
              @click="removeLyric(index)"
              class="ml-auto border px-2 rounded-xl hover:bg-gray-200 focusbg-gray-200"
            >
              remove
            </button>
          </div>
        </template>
      </ul>
    </main>

    <script src="./index.js"></script>
  </body>
</html>
